select {
  position: relative;

  width: 100%;

  padding: 0.25em;
  line-height: 1.5em;
  padding-inline-start: 0.5em;
  padding-inline-end: 1em;

  border-radius: 0.25em;
  border: 1px solid lightgray;

  background: white;
}
