:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

app-filter-list {
  display: flex;
  flex: 0 0 10em;
  padding: 1em 2em 1em 1em;
  border-right: 2px solid darkgray;
}

app-boardgames-table {
  flex: 1;
}
