div {
  max-height: 100%;
  width: 100%;
  overflow-y: auto;

  table {
    border-collapse: collapse;
    width: 100%;

    tr {
      td,
      th {
        border-left: 1px solid red;
        border-right: 1px solid red;
        border-bottom: 1px solid red;
      }

      border: 1px solid black;

      display: grid;
      grid-template-columns: 0.2fr 1fr;

      .detail {
        grid-column: 1/-1;
      }
    }
  }
}
