<div>
  <table>
    <tr
      (click)="expand(game)"
      *ngFor="let game of games | requirementsFilter: filter"
    >
      <td class="name">
        <span class="name">{{ game.name }}</span>
        <span class="year">{{ game.properties.yearPublished }}</span>
      </td>
      <td class="stats">
        <span class="material-symbols-outlined"> girl </span
        ><span
          >{{ game.stats.playerCount.range.min }} -
          {{ game.stats.playerCount.range.max }}</span
        >
      </td>
      <td class="stats">
        <span class="material-symbols-outlined"> timer </span
        ><span
          >{{ game.stats.playtime.min }} - {{ game.stats.playtime.max }}</span
        >
      </td>
      <td>
        <a
          [href]="'https://boardgamegeek.com/boardgame/' + game.id"
          target="_blank"
          class="material-symbols-outlined"
          >ungroup</a
        >
      </td>
      <app-boardgame-detail
        *ngIf="isExpanded(game)"
        class="detail"
        [game]="game"
      ></app-boardgame-detail>
    </tr>
  </table>
</div>
