:host {
  display: flex;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: flex;
    align-items: center;
    margin-bottom: 0.25em;

    input {
      margin: 0 0.25em 0 0;
    }

    label {
      height: 1em;
      white-space: nowrap;
    }
  }
}
